@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using System.Globalization;
@{
    Layout = "WebsiteMaster.cshtml";



    //var date = new DateTime(Model.Parent.Value<DateTime>("date").Year, Model.Parent.Value<DateTime>("date").Month, Model.Parent.Value<DateTime>("date").Day, int.Parse(Model.Name.Split(':')[0]), int.Parse(Model.Name.Split(':')[1]),0);
    var fixtures = Model.Children;


    @section heading {
        <h2 class="subheading">@(Model.Parent.Value<DateTime>("date").ToString("dddd")) - @(Model.Name)</h2>
    }

    @Html.Action("ResultsTable", "Partials")

    <ul class="">
        @foreach (var fixture in fixtures)
        {
            string startTime = fixture.Name;
            bool isTigers = fixture.ContentType.Alias.IndexOf("Tigers") != -1;
            string homeTeamName = fixture.Value<IPublishedContent>("homeTeam") != null ? fixture.Value<IPublishedContent>("homeTeam").Name : "";
            string homeTeamGroup = isTigers ? "("+fixture.Value<string>("homeTeamGroup").Replace("Group ","")+")" : "";


            string awayTeam = fixture.Value<IPublishedContent>("awayTeam") != null ? fixture.Value<IPublishedContent>("awayTeam").Name : "";
            string awayTeamGroup = isTigers ? "("+fixture.Value<string>("awayTeamGroup").Replace("Group ","")+")" : "";




            <li><a class="" href="javascript:">@(startTime) @(homeTeamName) @(homeTeamGroup) - vs - @(awayTeam) @(awayTeamGroup)</a></li>
        }

    </ul>

}