@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using System.Globalization;
@{
        Layout = "WebsiteMaster.cshtml";



        var date = Model.Parent.Value<DateTime>("date");
        var fixtures = Model.Children;


@section heading {
        <h1 class="subheading">
            @(string.Format(new Website.Logic.Application.Helpers.customDateProvider(), "{0}", date))

        </h1>
    <h2>@(Model.Name)</h2>
}

    @Html.Action("ResultsTable", "Partials")

    <h1>Fixtures/Results</h1>
    <table class="table table-striped">
        <thead class="sr-only">
            <tr>
                <th scope="col" class="text-right">Home Teame</th>
                <th scope="col" class="text-center">Status</th>
                <th scope="col">AwayTeam</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var fixture in fixtures)
            {
                string startTime = fixture.Name;
                bool isTigers = fixture.ContentType.Alias.IndexOf("Tigers") != -1;
                string homeTeamName = fixture.Value<IPublishedContent>("homeTeam") != null ? fixture.Value<IPublishedContent>("homeTeam").Name : "";
                string homeTeamGroup = isTigers ? "(" + fixture.Value<string>("homeTeamGroup").Replace("Group ", "") + ")" : "";
                int homeTeamGoals = fixture.Value<int?>("homeTeamGoals") ?? 0;
                int awayTeamGoals = fixture.Value<int?>("awayTeamGoals") ?? 0;

                bool finished = (fixture.Value<string>("status") ?? "").ToLower().IndexOf("ended") != -1;
                bool started = (fixture.Value<string>("status") ?? "").ToLower().IndexOf("started") != -1;



                string awayTeam = fixture.Value<IPublishedContent>("awayTeam") != null ? fixture.Value<IPublishedContent>("awayTeam").Name : "";
                string awayTeamGroup = isTigers ? "(" + fixture.Value<string>("awayTeamGroup").Replace("Group ", "") + ")" : "";

                <tr>
                    <th scope="row" class="text-right">@(homeTeamName) @(homeTeamGroup)</th>
                    <td class="text-center" style="position: relative; @if (started || finished) { @("padding-bottom: 1.0em;")} ">
                        @if (started || finished)
                        {
                            <span class="startTime">@(startTime)</span>
                            <span class="score" style="background-color: @(started ? "#ffd200; color: #000; " : "#ff0000; color: #fff; ") font-weight: bold;">@(homeTeamGoals) : @(awayTeamGoals)</span>

                        }
                        else
                        {
                            <span class="mainStartTime">@(startTime)</span>
                        }
                    </td>
                    <td>@(awayTeam) @(awayTeamGroup)</td>
                </tr>

            }
        </tbody>
    </table>
    }